.container {
  size: 100px;  
  display: flex;
    background-color: aliceblue;
    border: 2px solid #00ff11;
    border-radius: 8px;
    margin: 20px;
    background: linear-gradient(to top left, rgb(159, 236, 236), rgb(230, 230, 147));
  }
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }

  button-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  mat-form-field{
    display: flex;
   align-items: center;
   justify-content: center;
  }