.container {
  padding: 20px; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
  display: flex;
  background-color: aliceblue;
  border: 2px solid #00ff11;
  border-radius: 8px; 
  width: 400px;
  background: linear-gradient(to top left, rgb(159, 236, 236), rgb(230, 230, 147));
  display: flex;
  flex-direction: column;
}
  
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }

button{
  color: #ffffff; 
  background-color: rgb(230, 230, 147);
  padding: 30px 20px; 
  margin: 20px;
  font-size: 20px; 
  cursor: pointer;
  margin: 10px;
  font-family: Haettenschweiler;
}

button:hover {
  background-color: #e3eef94d; 
  transform: scale(1.05); 
}