.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; /* מרכז את התוכן */
}

.headTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

h2 {
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  color: rgb(60, 60, 135);
  background: linear-gradient(to top left, rgb(159, 236, 236), rgb(230, 230, 147));
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #00ff44;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; 
  margin: 0 auto;
}

.exitgame {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.gamepoint {
  font-size: large;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.hederSummery {
  font-size: 34px;  
  text-align: center;
  font-weight: bold;
  color: rgb(60, 60, 135);
  background: linear-gradient(
    to top left,
    rgb(159, 236, 236),
    rgb(230, 230, 147));
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #00ff44;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(80% - 100px); 
  margin: 0 auto;
}

.word-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  font-size: 30px;
}

.GuessInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

button {
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: row;
  width: 150px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50px;
}

mat-icon {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.current-word-count,
.total-word-count {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

table.mat-table {
  width: 100%;
  margin-bottom: 20px;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
  font-size: 18px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

h3 {
  text-align: center;
  font-size: 24px;
  color: rgb(60, 60, 135);
  margin: 20px 0;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.button-group button {
  width: auto;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.button-group button:hover {
  background-color: #e0f7fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.button-group button:active {
  background-color: #b2ebf2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
}
