h2 {
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  color: rgb(60, 60, 135);
  background: linear-gradient(
    to top left,
    rgb(159, 236, 236),
    rgb(230, 230, 147)
  );
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #00ff44;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.9s;
  flex: 1;
  flex-grow: 1;
  width: calc(100% - 550px); 
  margin-left: 225px; 
  margin-right: 225px; 
}

.exitgame {
  position: absolute;
  top: 105PX;
  right: 350px;
}

.word-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  font-size: 30px;
}

.GuessInput{
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

button {
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: row;
  width: 50px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between; /* מפזר את המספרים בקצוות */
  align-items: center; /* ממרכז את האחוזים לאורך הציר האנכי */
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
  border-radius: 5px; 
  position: relative;
  overflow: hidden;

}

.progress-text {
  margin-left: auto; /* מזיז את האחוזים לימין */
  margin-right: auto; /* מרכז את האחוזים */
  text-align: center;
  width: 50px; /* הגדרה של רוחב האזור של האחוזים */
}

mat-icon {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.current-word-count,
.total-word-count {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}


.gamepoint {
  font-size: large;
  position: absolute;
  top: 95PX;
  right: 430px;
}

.hederSummery {
  font-size: 34px;  
  text-align: center;
  font-weight: bold;
  color: rgb(60, 60, 135);
  background: linear-gradient(
    to top left,
    rgb(159, 236, 236),
    rgb(230, 230, 147));
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #00ff44;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.9s;
  width: calc(80% - 100px); 
  margin-left: 40px; 
  margin-right: 50px; 
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-group button {
  width: auto;
  padding: 10px 20px; /* ריווח פנימי לכפתור */
  margin: 10px; /* ריווח חיצוני סביב הכפתור */
  font-size: 18px; /* גודל פונט */
  border-radius: 8px; /* עיגול הפינות של הכפתור */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* הוספת צל קל */
  background-color: #ffffff; /* צבע רקע לכפתור */
  transition: transform 0.3s, box-shadow 0.3s; /* הוספת מעבר חלק כאשר הכפתור נלחץ */
}

.button-group button:hover {
  background-color: #e0f7fa; /* צבע רקע כאשר מרחפים מעל הכפתור */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל גדול יותר כאשר מרחפים מעל הכפתור */
  transform: scale(1.05); /* הגדלת הכפתור מעט כאשר מרחפים מעליו */
}

.button-group button:active {
  background-color: #b2ebf2; /* צבע רקע כאשר הכפתור נלחץ */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* צל קטן יותר כאשר הכפתור נלחץ */
  transform: scale(0.98); /* הקטנה קטנה של הכפתור כאשר נלחץ */
}