<div class="container">
  <div class="headTitle">
    <app-exit-button class="exitgame" (click)="exitGame()">exit_to_app</app-exit-button>
    <h2>Sort Words - {{ currentCategory.name }}</h2>
    <app-game-points [points]="userPoints" class="app-game-points"></app-game-points>
  </div>
  
  <div *ngIf="!isLoading && !endGame">
    <p>Is the word <b>{{ wordPool[currentPoolIndex].origin }}</b> part of the <b>{{ currentCategory.name }}</b> category?</p>
    <div class="button-group">
      <button mat-stroked-button color="primary" (click)="onGuess(true)">Yes</button>
      <button mat-stroked-button color="warn" (click)="onGuess(false)">No</button>
    </div>
    <div class="progress-container">
      <div class="progress-bar">
        <span class="current-word-count">{{ currentPoolIndex  }}</span>
        <mat-progress-bar mode="determinate" [value]="calculateProgress()"></mat-progress-bar>
        <span class="total-word-count">{{ wordPool.length }}</span>
        <div class="progress-text">{{ calculateProgress() | number : '1.0-0' }}%</div>
      </div>
    </div>
  </div>
  
  <div *ngIf="endGame">
    <h2>Game Summary</h2>
    <p>You classified {{ getCorrectlyClassifiedCount() }} out of {{ wordPool.length }} words correctly.</p>
    <table mat-table [dataSource]="wordPool" class="mat-elevation-z8">
      <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Word </th>
        <td mat-cell *matCellDef="let word"> {{ word.origin }} </td>
      </ng-container>
      <ng-container matColumnDef="userGuess">
        <th mat-header-cell *matHeaderCellDef> Your Guess </th>
        <td mat-cell *matCellDef="let word"> {{ word.guess }} </td>
      </ng-container>
      <ng-container matColumnDef="correctCategory">
        <th mat-header-cell *matHeaderCellDef> Correct? </th>
        <td mat-cell *matCellDef="let word, let i = index">
          <mat-icon *ngIf="isGuessCorrect(word.origin, word.guess)">check_circle</mat-icon>
          <mat-icon *ngIf="!isGuessCorrect(word.origin, word.guess)">cancel</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['word', 'userGuess', 'correctCategory']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['word', 'userGuess', 'correctCategory'];"></tr>
    </table>
    <h3>Your Score: {{ userPoints }}/100</h3>
    <div class="button-group">
      <button mat-stroked-button (click)="startNewGame()">Reset Game</button>
    </div>
  </div>

</div>
