<p>Dashboard</p><br>
<p>You're Learning:</p>

<!--<h2>Game History</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Points</th>
      <th>Seconds Played</th>
      <th>Seconds Left</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td>{{ game.date | date:'short' }}</td>
      <td>{{ game.idCategory }}</td>
      <td>{{ game.numOfPoints }}</td>
      <td>{{ game.secondsPlayed }}</td>
      <td>{{ game.secondLeftInGame }}</td>
    </tr>
  </tbody>
</table>-->
