<div class="dashboard-container">
    <h2>Your learning:</h2>
    <div class="dashboard-grid">
      <mat-card class="dashboard-card" *ngFor="let card of cards">
        <mat-card-content>
          <h3>{{ card.title }}</h3>
          <p>{{ card.value }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- הצגת אתגר חודשי -->
    <div *ngIf="monthlyChallengeGamesNeeded > 0">
      <p>You need to play</p>
      <p class="big-text">{{ monthlyChallengeGamesNeeded }}</p>
      <p>more games to complete the monthly challenge</p>

    </div>

    <div *ngIf="monthlyChallengeGamesNeeded <= 0">
      <p class="big-text">Congratulations! You've completed the monthly challenge!</p>
    </div>
     
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  