<div class="memory-game">
  <app-exit-button class="exitgame" (click)="exitGame()">exit_to_app</app-exit-button>
  <h2>Memory Game - {{ points }} Points</h2>

  <div class="cards-container">
    <mat-card 
      *ngFor="let card of cards; let i = index" 
      class="card" 
      (click)="flipCard(i)" 
      (keydown.enter)="flipCard(i)"  
      tabindex="0" 
      [class.flipped]="card.flipped" 
      [class.matched]="card.matched" 
      [attr.dir]="card.direction"> 

 
      <mat-card-header *ngIf="!card.flipped && !card.matched">
        <mat-card-title>
          <span class="question-mark">?</span> 
        </mat-card-title>
      </mat-card-header>

      <mat-card-content *ngIf="card.flipped || card.matched">
        {{ card.word }} 
      </mat-card-content>
    </mat-card>
  </div>


  <mat-card *ngIf="isGameWon" class="congratulations-card">
    <mat-card-content>
      Congratulations! You've matched all the cards! 
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  (click)="loadWords()">Play Again</button>
    </mat-card-actions>
  </mat-card>
</div>
